doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Login
    script(type='text/javascript', src='https://code.jquery.com/jquery-latest.min.js')
    script(type='text/javascript', src='Login.js')
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    title SoccerVision
  body(background='background.png')
    .box
      img.avi(src='soccerball.png')
      h1 Soccer Vision
      form
        p Username
        input(type='text', name='', placeholder='Enter Username')
        p Password
        input#password(type='password', name='', placeholder='Enter Password')
        input#submit(type='submit', name='', value='Login')
        a(href='#') Don't have an account?
