doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Login
    script(type='text/javascript', src='https://code.jquery.com/jquery-latest.min.js')
    script(type='text/javascript', src='Login.js')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    title SoccerVision
  body(background='images/background.png')
    .box
      img.avi(src='images/soccerball.png')
      h1 Soccer Vision
      form(action='main',method='post')
        form-user
          input(id = 'user' type="text" name="user" placeholder="Email")
        form-password
          input(id = 'pass' type="text" name="pass" placeholder="Password")
        button.btn.btn-primary(type='submit', href='/Home') Log In
        br
      form(action='main2',method='post')
        button.btn.btn-primary(type='submit') Register
