doctype html
html
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='styles/TeamSelect.css')
  body
    .navbar
      .dropdown
        button.dropbtn
          | Select a Team
          i.fa.fa-caret-down
        .dropdown-content
          .header
            h2 Premier League Teams
          .row
            .column
              a(href='/Home')
                | Arsenal
                img(src='images/Arsenal.png', height='20', width='20')
              a(href='/Home')
                | AFC Bournemouth
                img(src='images/AFC.png', height='20', width='20')
              a(href='/Home')
                | Brighton
                img(src='images/Brighton.png', height='20', width='20')
              a(href='/Home')
                | Burnley
                img(src='images/Burnley.png', height='20', width='20')
              a(href='/Home')
                | Cardiff City
                img(src='images/Cardiff.png', height='20', width='20')
              a(href='/Home')
                | Chelsea
                img(src='images/Chelsea.png', height='20', width='20')
              a(href='/Home')
                | Crystal Palace
                img(src='images/Crystal palace.png', height='20', width='20')
              a(href='/Home')
                | Everton
                img(src='images/Everton.png', height='20', width='20')
              a(href='/Home')
                | Fulham
                img(src='images/Fulham.png', height='20', width='20')
              a(href='/Home')
                | Huddersfield Town
                img(src='images/Hud.png', height='20', width='20')
              a(href='/Home')
                | Leicester City
                img(src='images/Leicester.png', height='20', width='20')
              a(href='/Home')
                | Liverpool
                img(src='images/Liverpool.png', height='20', width='20')
              a(href='/Home')
                | Manchester City
                img(src='images/ManCity.png', height='20', width='20')
              a(href='/Home')
                | Manchester United
                img(src='images/ManUtd.png', height='20', width='20')
              a(href='/Home')
                | Newcastle United
                img(src='images/Newcastle.png', height='20', width='20')
              a(href='/Home')
                | Southampton
                img(src='images/Southampton.png', height='20', width='20')
              a(href='/Home')
                | Tottenham Hotspur
                img(src='images/Spurs.png', height='20', width='20')
              a(href='/Home')
                | Watford
                img(src='images/Watford.png', height='20', width='20')
              a(href='/Home')
                | WestHam United
                img(src='images/WestHam.png', height='20', width='20')
              a(href='/Home')
                | Wolverhampton Wanders
                img(src='images/Wolves.png', height='20', width='20')
