doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Login
    script(type='text/javascript', src='https://code.jquery.com/jquery-latest.min.js')
    script(type='text/javascript', src='Login.js')
    link(rel='stylesheet', type='text/css', href='login.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    style(media='screen').
      .modal-content{
      background-color:#2b3573;
      opacity: 0.95;
      }
  body(background='background.png')
    .modal-dialog.text-center
      .col-sm-8.Box
        .modal-content
          #soccer.col-12
            img(src='soccerball.png', width='200', height='200')
          form.col-12
            .form-group
              input.form-control(type='Email', placeholder='Enter Email address')
            .form-group
              input.form-control(type='password', placeholder='Enter password')
              button(type='submit', name='Submit') Login
          .col-12(id='forgot password')
            a(href='#') Forgot password 