#results{
}

.result_data{
  background-color: lightblue;
  right:50px;
}
#bar{
  background-color: #102C52;
  opacity: 0.60;
  border-width: 0;
  box-shadow: none;
}



#myVideo {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}
a {
color: red;
}

#Logo{
  margin-top: -3rem;
  height: 70px;
  width: 70px;
}
